pkgbase = codeg-bin
	pkgdesc = Collaborative multi-agent AI coding workspace: aggregate sessions from Claude Code, Codex, OpenCode, Pi, Grok Build, etc. (prebuilt)
	pkgver = 0.34.0.r3338.ga1a4ccf
	pkgrel = 1
	url = https://github.com/dongliang/codeg-aur
	arch = x86_64
	license = Apache-2.0
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = librsvg
	depends = libsecret
	depends = openssl
	provides = codeg
	conflicts = codeg
	conflicts = codeg-git
	source = https://github.com/dongliang/codeg-aur/releases/download/v0.34.0.r3338.ga1a4ccf/codeg-git-0.34.0.r3338.ga1a4ccf-1-x86_64.pkg.tar.zst
	sha256sums = bf4c2f5d1aba01811dd11f55b80b0716d3801fcc67158a90e37d8feaa10e6cd3

pkgname = codeg-bin
