pkgbase = codeg-bin
	pkgdesc = Collaborative multi-agent AI coding workspace: aggregate sessions from Claude Code, Codex, OpenCode, Pi, Grok Build, etc. (prebuilt)
	pkgver = 0.23.5.r2099.g3ad6f5e
	pkgrel = 1
	url = https://github.com/dongliang/codeg-aur
	arch = x86_64
	license = Apache-2.0
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = librsvg
	depends = libsecret
	depends = openssl
	provides = codeg
	conflicts = codeg
	conflicts = codeg-git
	source = https://github.com/dongliang/codeg-aur/releases/download/v0.23.5.r2099.g3ad6f5e/codeg-git-0.23.5.r2099.g3ad6f5e-1-x86_64.pkg.tar.zst
	sha256sums = 1a38736dd2820ead99a1136198bdd79bfd7ee8f98fcc6030144a6cc4c85bdd3c

pkgname = codeg-bin
